[buildout]
extends = https://dist.plone.org/release/5.1-latest/versions.cfg
parts = instance plonesite
versions = versions

find-links = https://packages.kopla.jyu.fi/plone/packages/

extensions = mr.developer
sources-dir = src
sources = sources
auto-checkout =
    mockup
    plone.app.mosaic
    plone.app.tiles

[sources]
mockup = git https://github.com/plone/mockup.git
plone.app.mosaic= git https://github.com/plone/plone.app.mosaic branch=datakurre-custom
plone.app.tiles= git https://github.com/plone/plone.app.tiles branch=datakurre-fieldsets

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs =
    Plone
    collective.roster
    plone.app.mosaic
    Products.PloneFormGen
    collective.themefragments
    collective.themesitesetup

    jyupolicy.base
    jyu.pfg.office
resources = ${buildout:directory}/resources
zcml = plone.app.mosaic-meta:sitelayouts-meta.zcml
zope-conf-additional = %import venusianconfiguration

[plonesite]
recipe = collective.recipe.plonesite
instance = instance
site-id = Plone
default-language = en
products-initial =
    plone.app.contenttypes

[versions]
setuptools =
zc.buildout =

collective.roster = 2.2.0
collective.themefragments = 2.7.1
collective.themesitesetup = 1.5.0
plone.app.drafts = 1.1.1
plone.app.mosaic = 2.1.0.dev11
plone.app.tiles = 3.1.0.dev3
plone.app.standardtiles = 2.2.0
plone.app.blocks = 4.0.6.post1
plone.tiles = 2.0.0b1
plone.autoform = 1.7.3
