@import './theme.bootstrap.scss';

$gray-description: #68737a;

@include media-breakpoint-up(xs) {
  .container-content {
    box-shadow: 0 20px 20px $gray;
    background: white;

    padding: 20px 20px;
  }
  .container-content, body#tinymce {
    h1.documentFirstHeading {
      font-weight: bold;
    }

    .documentDescription {
      font-size: $font-size-lg;
      margin-bottom: $spacer * 2;
      color: $gray-description;
    }

    h2 {
      font-family: $font-family-sans-serif;
    }
  }
}

@include media-breakpoint-up(md) {
  .container-content {
    padding: 40px 40px;
  }
}

@include media-breakpoint-up(lg) {
  .container-content {
    padding: 60px 60px;
  }
}

@include media-breakpoint-up(xl) {
  .container-content {
    padding: 70px 100px;
  }
}
