@import './theme.bootstrap.scss';

@include media-breakpoint-up(xs) {
  .header {
    background: $gray-dark;
    color: $gray-light;

    font-family: $font-family-sans-serif;
    font-size: $font-size-sm;
    line-height: 1.5;

    .header-brand {
      @include make-col($grid-columns);
      display: flex;
      flex-direction: column;

      a {
        margin: 40px 0 18px 0;
        padding: 0;

        width: 180px;
        height: 42px;

        &:before {
          display: inline-block;
          content: url('./media/reclas.svg');
          width: 180px;
          height: 42px;
        }
      }
      p {
        color: $gray;
        margin: 0;
        padding: 0;
      }
    }

    .header-nav {
      @include make-col($grid-columns);
      order: 3;

      font-size: $font-size-lg;
      font-weight: 600;
      line-height: 1.75;

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        margin: 40px 0 50px 0;
        padding: 0;

        list-style-type: none;
        text-transform: uppercase;
      }
      a {
        color: $gray-lighter;
        &:hover {
          color: $red;
        }
      }
      a.navTreeCurrentNode {
        color: $red;
      }
      // Hide Plone icons
      a:before {
        display: none;
      }
      .navTreeItem {
        margin-right: 1em;
      }
      // Hide subnavigations
      .navTreeLevel1 {
        display: none;
      }
      .navTreeLevel2 {
        display: none;
      }
    }

    .header-brand-uni {
      @include make-col($grid-columns);
      order: 3;
      a {
        display: block;
        background: transparent;
        box-shadow: none;

        width: 180px;
        height: 109px;

        margin: 0 auto 50px auto;

        &:before {
          display: inline-block;
          content: url(./media/jyu.svg);

          width: 180px;
          height: 109px;
        }
      }
    }

  }
}

@include media-breakpoint-up(md) {
  .header {
    .header-brand {
      @include make-col($grid-columns / 2);
    }
    .header-nav {
      order: 3;
      font-size: $font-size-sm;
      ul {
        white-space: nowrap;
      }
      ul {
        height: 80px;
      }
    }
    .header-brand-uni {
      @include make-col($grid-columns / 2);
      order: 2;
      a {
        margin: 40px 0 0 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    height: 180px;

    .header-brand {
      @include make-col($grid-columns / 4);
      .navbar-brand {
        margin: 0 20px 18px 0;
        padding: 40px 0 0;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
    .header-nav {
      @include make-col($grid-columns / 2);
      ul {
        margin: 40px 0 0 0;
        padding: 0;
      }
    }
    .header-brand-uni {
      @include make-col($grid-columns / 4);
      a {
        margin: 40px 0 0 0;
      }
    }
  }
}
