@import './theme.bootstrap.scss';

@include media-breakpoint-up(xs) {
  .more-about {
    position: relative;
    height: 560px;

    background: $gray-dark no-repeat center center;
    background-size: cover;

    filter: grayscale(100%);
    color: $white;

    display: flex;
    align-items: center;

    border-top: 60px solid $gray-dark;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $gray-dark;
      opacity: 0.333;
      z-index: -1;
    }

    nav {
      margin-left: auto;
      margin-right: auto;
    }

    p {
      font-size: $font-size-h2;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
    }

    a {
      font-family: $font-family-sans-serif;
      font-size: $font-size-sm;
      letter-spacing: 1px;
      color: $white;
      border: 1px solid white;
      text-transform: uppercase;
      padding: 1em;
    }
  }
}
