body.portaltype-jyu-kovistelija-programme {
  #content-core {
    [aria-expanded="false"]:before {
      content: url(../icons/fontawesome-right-open-flame.svg);
      width: 0.7143em;
      height: 1em;
      display: inline-block;
      margin-right: 1.2-0.7143em;
      vertical-align: top;
      margin-left: -1.2em;
    }
    [aria-expanded="true"]:before {
      content: url(../icons/fontawesome-down-open-flame.svg);
      width: 1em;
      height: 1em;
      display: inline-block;
      margin-right: 0.2em;
      vertical-align: top;
      margin-left: -1.2em;
    }

    .study-header, .category-header {
      a {
        color: #002957;
        text-decoration: none;
      }

    }
    h1, h2, h3, h4, h5, h6 {
      &:hover {
        .anchor:before {
          opacity: 1;
        }
      }
    }
    .anchor:before {
      opacity: 0;
      content: url(../icons/fontawesome-link-flame.svg);
      width: 0.9286em;
      height: 1em;
      display: inline-block;
      margin-left: 1.2-0.9286em;
      vertical-align: top;
    }
  }
}
