@import '../theme.variables.scss';

$logo-filled-factor: 132.537 / 301.95;

// footer
@include media-breakpoint-up(xs) {
  footer.site-footer  {
    margin-top: 50px;
  }
  body > footer, footer.site-footer  {
    font-family: Aleo, serif;
  }
}

// footer.container
@include media-breakpoint-up(xs) {
  body > footer.container {
    font-size: 16px;

    a {
      color: $blue;
    }

    h1, h2, h3, h4, h5 {
      margin-top: 50px;
      font-size: 20px;
      font-family: Lato, serif;
      font-weight: 900;
      letter-spacing: 1px;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style-type: none;
      hyphens: auto;
    }

    .logo-container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      img {
        margin: 0 0 auto 0;
        max-width: 100%;
      }
    }
  }
}

// footer.site-footer
@include media-breakpoint-up(xs) {
  .site-footer {
    color: $blue;
    background-color: $gray;
    font-family: Aleo, serif;
    font-size: 20px;
  }

  .site-footer .site-brand-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .site-footer .site-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $blue;
    height: $footer-height;
    width: $footer-height;
  }

  .site-footer .site-logo:before {
    display: inline-block;
    content: url(../images/logo-filled.svg);
    height: ($footer-height - 20px);
    width: ($footer-height - 20px) * $logo-filled-factor;
  }

  .site-footer .social-links {
    a + a {
      margin-left: 1.6em;
    }
  }

  .site-footer .row.social-links {
    display: block;
    text-align: center;
    background-color: white;
    line-height: 50px;
    a + a {
      margin-left: 1.4em;
    }
  }

  .site-footer .site-name {
    font-family: Aleo, serif;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
  }

  .site-footer a.site-name {
    color: $blue;
    &:hover, &:focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

// .site-footer .row.social-links
@media (orientation: portrait) {
  body.lock-scroll .site-footer .row.social-links {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    font-size: 26px;
    background-color: $footer-gray;
    line-height: 70px;

    .fa-facebook:before { content: url(../icons/fontawesome-facebook-white.svg);  }
    .fa-instagram:before { content: url(../icons/fontawesome-instagram-white.svg);  }
    .fa-twitter:before { content: url(../icons/fontawesome-twitter-white.svg);  }
    .fa-youtube:before { content: url(../icons/fontawesome-youtube-play-white.svg);  }

    a + a {
      margin-left: 0.8em;
    }
  }
}

// .site-footer .row.social-links
@media (min-width: map_get($grid-breakpoints, sm)) and (orientation: portrait) {
  body.lock-scroll .site-footer .row.social-links {
    font-size: 40px;
  }
}

// footer.container
@include media-breakpoint-up(md) {
  body > footer.container {
    .logo-container {
      flex-direction: row;

      img {
        margin: 0 auto 0 0;
        max-width: 200px;
      }
    }
  }
}

// footer.site-footer
@include media-breakpoint-up(md) {
  .site-footer {
    font-size: 30px;
  }

  .site-footer .site-logo {
    height: $footer-height-md;
    width: $footer-height-md;
  }

  .site-footer .site-logo:before {
    height: ($footer-height-md - 40px);
    width: ($footer-height-md - 40px) * $logo-filled-factor;
  }

  .site-footer .social-links {
    font-size: 22px;
    padding-left: 50px;
    margin-right: -10em;  // allow overlap with sitename
  }

  .site-footer .site-name {
    margin-left: auto;
    margin-right: 50px;
    background-color: $gray;
  }

  .site-footer a.site-name {
    color: $blue;
    &:hover, &:focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

// footer.container
@include media-breakpoint-up(lg) {
  body > footer.container {
    .logo-container {
      flex-direction: column;
      img {
        margin: 0 0 20px 0;
        max-width: 100%;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-footer {
    font-size: 32px;
  }

  .site-footer .social-links {
    font-size: inherit;
    padding-left: 50px;
  }

  .site-footer .site-name {
    background-color: transparent;
  }
}
