@import '../theme.variables.scss';

$logo-filled-factor: 132.537 / 301.95;

// .site-header
@include media-breakpoint-up(xs) {
  .site-header {
    color: white;
    background-color: $blue;

    font-size: 16px;
    line-height: 1;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: $header-height;

    z-index: 99;

    .separator {
      margin: 0 0.5em 0 0.5em;
    }
  }

  .site-header .site-menu-button-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .site-header .site-menu-button {
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    border: 0;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;

    width: 35px;
    height: $header-height;

    .site-menu-button-icon {
      position: relative;
      width: 35px;
      height: 35px;
      float: right;

      span {
        top: 11%;
        display: block;
        position: absolute;
        height: 11%;
        width: 100%;
        background: $red;
        opacity: 1;
        left: 0;
        transition: all 0.2s;
      }
      span:nth-child(1) {
        top: 10%;
      }
      span:nth-child(2) {
        top: 45%;
      }
      span:nth-child(3) {
        top: 80%;
      }
      span.short {
        width: 50%;
      }
    }
    &:visited, &:focus {
      outline: none;
    }
  }

  .site-header .site-brand-container {
    font-family: Aleo, serif;
    padding: 0;
    overflow: hidden;

    p {
      margin: 0;
      padding: 0;

      .separator {
        color: $red;
      }
    }

    a {
      color: white;
      &:hover, &:focus {
        color: white;
        text-decoration: none;
      }
    }
  }

  .site-header .site-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .site-header .site-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $header-height;
  }

  .site-header .site-logo:before {
    display: inline-block;
    content: url(../images/logo-filled.svg);
    height: ($header-height - 20px);
    width: ($header-height - 20px) * $logo-filled-factor;
  }

  .site-header .site-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 1.5;
    p {
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }
  .site-header .site-name-container.site-name-animate {
    margin-bottom: -$header-height;

    animation-duration: 10s;
    animation-name: site-name-container;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @keyframes site-name-container {
      0% {
        margin-top: 0;
        margin-bottom: -$header-height;
      }
      45% {
        margin-top: 0;
        margin-bottom: -$header-height;
      }
      55% {
        margin-top: -$header-height;
        margin-bottom: 0;
      }
      100% {
        margin-top: -$header-height;
        margin-bottom: 0;

      }
    }
  }

  .site-header .site-menu-container {
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    height: 0;
    opacity: 0;
    padding: 0;

    transition: opacity 600ms, padding-top 600ms, height 600ms;

    color: white;
    background: $red;

    font-family: Lato, sans-serif;
    font-weight: 500;

    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .site-header .site-menu-container .site-language-selector-container {
    font-size: 40px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    margin-bottom: 20px;

    .dropdown-item {
      line-height: 2;
    }

    a.dropdown-toggle {
      color: $blue;
    }
    a:hover, a:focus {
      text-decoration: none;
    }
    a.dropdown-item:hover, a.dropdown-item:focus {
      color: $dropdown-link-hover-color;
    }
    .dropdown-toggle:after {
      display: inline-block;
      content: url(../icons/fontawesome-down-open-white.svg);
      vertical-align: 0.1em;
      margin-left: 0.5em;
      height: 0.5em;
      width: 0.5em;
      border: none;
    }
  }

  .site-header .site-menu-container .site-links-container {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

    a { color: white; }
  }

  .site-search-container {
    .fa-search {
      padding-bottom: 20px;
    }

    .fa-search:before {
      content: url(../icons/fontawesome-search-torch.svg);
    }

    ::-webkit-input-placeholder {
      color: $blue;
      opacity: 1;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $blue;
      opacity: 1;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: $blue;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: $blue;
      opacity: 1;
    }

    .input-group-addon {
      background-color: transparent;
      border: 0;
      color: white;
      padding: 0;
    }

    input {
      vertical-align: top;
      font-size: 20px;
      color: $blue;
      background-color: transparent;
      border: 0;
      padding: 0 0 20px 20px;
      width: 100%;
    }

    input:focus {
      outline: 0;
      color: $blue;
      background-color: transparent;
    }

    .input-group {
      border-bottom: 2px solid $blue;
      margin-top: 25px;
    }

    .pat-livesearch .livesearch-results {
      color: $blue;
      background-color: $red;
      border: 2px solid $blue;
      margin-top: -10px;
      font-size: 16px;
      overflow: hidden;
      width: auto !important;  // patterns sets width in pxs
      right: 0;
      padding: 1em;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      a {
        color: $blue;
        font-weight: bold;
      }

      .page {
        display: none;
      }

      .searching, .search-result, .results-summary, .no-results {
        &.selected, &:hover, &:focus {
          color: $blue;
          background-color: $red;
          a {
            color: $blue;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .site-menu {
    margin-top: 1em;
    margin-bottom: 150px;
  }

  .site-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    a {
      position: relative; display: block;
      text-transform: uppercase;
    }
    ul a { text-transform: none; }
    a:hover, a:focus {
      text-decoration: none;
    }
    a.nav-head {
      display: inline-block;
      margin-left: 1.6em;
      i {
        margin-left: -1.6em;
      }
    }
    li {
      .fa { margin-right: 0.5em; }
      padding: 20px 0 20px 0;
      border-bottom: 1px solid $gray;
      font-size: 20px;
      list-style-type: none;

      &:first-child {
        padding-top: 20px;
      }
    }
    li ul {
      // border-top: 1px solid $gray;
      margin: 20px 0 20px 0;
      padding: 0 0 0 1.6em;
    }
    li li {
      padding: 10px 0 10px 0;
      font-size: 16px;
      border-bottom: 1px solid $gold;
      &:first-child {
        padding-top: 10px;
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: -10px;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
    ul ul {
      border-top: 1px solid $gold;
      margin: 10px 0 0 0;
      padding: 0 0 0 1.6em;
    }
  }

  .col-contact {
    font-size: 14px;
    line-height: 1.5;

    white-space: nowrap;
    overflow: visible;

    p:first-child {
      font-size: 24px;
      font-weight: bold;
    }

    p:last-child {
      font-size: 30px;
      letter-spacing: 10px;
    }

    .fa-twitter:before { content: url(../icons/fontawesome-twitter-white.svg); }
    .fa-instagram:before { content: url(../icons/fontawesome-instagram-white.svg); }
    .fa-facebook:before { content: url(../icons/fontawesome-facebook-white.svg); }
    .fa-youtube:before { content: url(../icons/fontawesome-youtube-play-white.svg); }
  }
}

// .site-header.site-menu-open
@include media-breakpoint-up(xs) {
  .site-header.site-menu-open {
    height: 100%;
    background-color: $red;
    a {
      color: white;
    }
  }

  .site-header.site-menu-open .site-menu-button {
    .site-menu-button-icon {
      span {
        background: white;
      }
      span:nth-child(1) {
        top: 45%;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      span:nth-child(3) {
        width: 100%;
        top: 45%;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  .site-header.site-menu-open .site-menu-container {
    opacity: 1;
    height: 100%;
    padding-top: $grid-gutter-width-base;
    padding-bottom: $grid-gutter-width-base;
  }

  @media(orientation: portrait) {
    .site-header.site-menu-open .site-menu-container {
      padding-bottom: 100px;
    }
  }
}

// .headroom
@include media-breakpoint-up(xs) {
  .headroom {
    will-change: transform;
    transition: transform 600ms linear, height 600ms linear, top 600ms ease-in-out, border-top-width 600ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
  .headroom--top {
    transition: transform 100ms ease-in-out, height 100ms ease-out;
  }
}

// .headroom--not-top
@include media-breakpoint-only(xs) {
  .site-header.headroom--not-top {
    color: $blue;
    background-color: white;
  }
  .site-header.headroom--not-top .site-logo:before {
    content: url(../images/logo-alt.svg);
  }
  .site-header.headroom--not-top .site-brand-container {
    a {
      color: $blue;
      &:hover, &:focus {
        color: $blue;
      }
    }
  }

  .site-header.headroom--not-top.headroom--unpin-top,
  .site-header.headroom--unpinned.headroom--unpin-top {
    color: white;
    background-color: $blue;
  }
  .site-header.headroom--not-top.headroom--unpin-top .site-logo:before,
  .site-header.headroom--unpinned.headroom--unpin-top .site-logo:before {
    content: url(../images/logo-filled.svg);
  }
  .site-header.headroom--not-top.headroom--unpin-top .site-brand-container,
  .site-header.headroom--unpinned.headroom--unpin-top .site-brand-container {
    a {
      color: white;
      &:hover, &:focus {
        color: white;
      }
    }
  }
}

// .site-header (somewhere between xs and sm)
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  .site-header .site-name-container {
    font-size: 20px;
  }
}

// .site-header
@include media-breakpoint-up(sm) {
  .site-header .site-brand-container {
    padding: inherit;
  }
  .site-header .site-menu-container {
    padding: inherit;
  }
  .site-header .site-name-container {
    font-size: 20px;
  }
  .site-header .site-menu-container .site-links-container {
    font-size: 25px;
  }
  .site-menu {
    ul li {
      font-size: 30px;
    }
    ul ul li {
      font-size: 20px;
    }
  }
}

// .site-header
@include media-breakpoint-up(md) {
  .site-header {
    height: $header-height-md;
    a {
      color: white;
    }
  }

  .site-header .site-brand-container {
    overflow: visible;
    p {
      padding-left: $grid-gutter-width-base / 2;
    }
  }

  .site-header .site-links-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .site-links-container {
      margin-right: 1em;
      white-space: nowrap;
    }

    .site-search-container {
      width: 100%;
      margin: 0;
      height: auto;
      transition: none;
      .input-group {
        margin-top: 0;
        border-bottom: 1px solid white;
      }
      input {
        padding: 5px 0 5px 0;
        transition: opacity 0.6s;
        opacity: 1;
        flex: auto;
        width: 100%;
      }
      overflow: visible;
    }

    .site-search-container[aria-hidden="true"] {
      display: block;
      width: 1em;
      height: auto;
      .input-group {
        border-bottom: none;
      }
      input {
        flex: none;
        opacity: 0;
        transition: opacity 0.6s;
        width: 0;
      }
      overflow: hidden;
    }
    .site-search-toggle .fa-search {
      padding: 5px 0 5px 0;
      border-bottom: 1px solid white;
    }
    .site-search-container[aria-hidden="true"] + .site-search-toggle .fa-search {
      cursor: pointer;
      padding: 5px 0 3px 0;
      border-bottom: none;
    }
    .site-search-container {
      .pat-livesearch .livesearch-results {
        margin-top: 0;
        .searching, .search-result, .results-summary, .no-results {
          &.selected, &:hover, &:focus {
            color: white;
            background-color: $red;
            a {
              color: white;
            }
          }
        }
      }
    }
  }

  .site-header.site-menu-open .site-links-search-container {
    .input-group .form-control {
      z-index: auto;
    }
  }

  .site-header .site-logo {
    height: $header-height-md;
  }

  .site-header .site-menu-button {
    height: $header-height-md;
    right: $grid-gutter-width-base / 2;

    .site-menu-button-icon {
      height: 50px;

      span:nth-child(1) {
        top: 20%;
      }
      span:nth-child(3) {
        top: 70%;
      }
    }
  }

  .site-header .site-menu-container {
    background-color: $blue;
  }

  .site-header .site-menu-container .site-links-container {
    font-size: 17px;
  }

  .site-header .site-menu-container .site-language-selector-container {
    font-size: 28px;
    font-weight: 600;

    a.dropdown-toggle {
      color: white;
    }
  }

  .site-search-container {
    .fa-search {
      padding-bottom: 16px;
    }

    .fa-search:before {
      content: url(../icons/fontawesome-search-white.svg);
    }

    ::-webkit-input-placeholder {
      color: white;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: white;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
    }

    :-ms-input-placeholder {
      color: white;
    }

    input, input:focus {
      font-size: 16px;
      padding: 4px 0 16px 20px;
      color: white;
    }

    .input-group {
      border-bottom-color: white;
      border-bottom-width: 1px;
    }

    .pat-livesearch .livesearch-results {
      color: white;
      background-color: $blue;
      border-color: white;
      border-width: 1px;

      a {
        color: white;
      }

      li {
        padding: 20px;

        &.load-more {
          margin-bottom: 20px;
        }
      }

      .searching, .search-result, .results-summary, .no-result {
        &.selected, &:hover, &:focus {
          color: white;
          background-color: $blue;
          a {
            color: white;
          }
        }
      }
    }
  }

  .site-menu ul {
    li {
      font-size: 18px;
      border-bottom-color: $red;
      padding: 15px 0 15px 0;

      &:first-child {
        padding-top: 15px;
      }
    }
    li ul {
      border-top-color: $red;
      margin: 15px 0 0 0;
      padding: 0 0 0 1.6em;
    }
    li li ul {
      border-top-color: white;
    }
    li li {
      font-size: 15px;
      border-bottom-color: white;

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// .site-header.site-menu-open
@include media-breakpoint-up(md) {
  .site-header.site-menu-open {
    background-color: $blue;

    .site-menu-container {
      padding-top: $grid-gutter-width-base * 1.5;
    }
  }
}

// .site-header
@include media-breakpoint-up(lg) {
  .site-header .site-menu-container {
    background-color: $blue;
  }

  .site-header .site-menu-container .site-links-container {
    font-size: 20px;
  }

  .site-search-container {
    input, input:focus {
      font-size: 16px;
    }
  }

  .site-menu ul {
    li {
      font-size: 24px;
      border-bottom-color: $red;
      padding: 20px 0 20px 0;

      &:first-child {
        padding-top: 20px;
      }
    }
    li ul {
      border-top-color: $red;
      margin: 20px 0 0 0;
      padding: 0 0 0 1.6em;
    }
    li li ul {
      margin: 10px 0 0 0;
      border-top-color: white;
    }
    li li {
      font-size: 20px;
      border-bottom-color: white;

      &:first-child {
        padding-top: 10px;
      }
    }
  }
  .site-header .col-contact {
    font-size: 16px;
  }
}

// body.mainpage|frontpage .site-header
@include media-breakpoint-up(xs) {
  body.mainpage, body.frontpage, body.department {
    .site-header {
      height: $header-height-frontpage;

      .site-logo {
        height: $header-height-frontpage - 10px;
      }

      .site-logo:before {
        height: ($header-height-frontpage - 30px);
        width: ($header-height-frontpage - 30px) * $logo-filled-factor;
      }

      .site-name-container.site-name-animate {
        margin-bottom: -$header-height-frontpage;
        animation-name: site-name-container-frontpage;

        @keyframes site-name-container-frontpage {
          0% {
            margin-top: 0;
            margin-bottom: -$header-height-frontpage;
          }
          45% {
            margin-top: 0;
            margin-bottom: -$header-height-frontpage;
          }
          55% {
            margin-top: -$header-height-frontpage;
            margin-bottom: 0;
          }
          100% {
            margin-top: -$header-height-frontpage;
            margin-bottom: 0;
          }
        }
      }

      .site-menu-button {
        height: $header-height-frontpage - 10px;
      }

      &.site-menu-open {
        height: 100%;
      }
    }
    .site-header.headroom--top {
      border-top-style: solid;
      border-top-color: $red;
      border-top-width: 10px;
    }
    .site-header.headroom--not-top {
      height: $header-height-frontpage - 10px;
      &.site-menu-open {
        height: 100%;
      }
    }
  }
}

// body.mainpage|frontpage .site-header
@include media-breakpoint-up(md) {
  body.mainpage, body.frontpage, body.department {
    .site-header {
      height: $header-height-frontpage-md;

      .site-menu-button-container {
        width: auto;
      }

      .site-brand-container {
        width: auto;
        padding: 0;
      }

      .site-logo {
        height: $header-height-frontpage-md;
      }

      .site-logo:before {
        height: ($header-height-frontpage-md - 20px);
        width: ($header-height-frontpage-md - 20px) * $logo-filled-factor;
      }

      .site-menu-button {
        height: $header-height-frontpage-md;
      }

      &.site-menu-open {
        height: 100%;
      }
    }
    .site-header.headroom--top {
      border-top-width: 0;
    }
    .site-header.headroom--not-top {
      height: $header-height-frontpage-md;
      &.site-menu-open {
        height: 100%;
      }
    }
  }
}

// body.mainpage|frontpage .site-header
@include media-breakpoint-up(x1) {
  body.mainpage, body.frontpage, body.department {
    .site-header {
      height: $header-height-frontpage-x1;

      .site-menu-button-container {
        width: auto;
      }

      .site-logo-container,
      .site-links-search-container {
        font-size: 20px;
        .site-links-container {
          font-size: 20px;
        }
        .site-search-container {
          input, input:focus {
            font-size: 20px;
          }
        }
      }

      .site-brand-container {
        width: auto;
        padding: 0;
      }

      .site-logo {
        height: $header-height-frontpage-x1;
      }

      .site-logo:before {
        height: ($header-height-frontpage-x1 - 20px);
        width: ($header-height-frontpage-x1 - 20px) * $logo-filled-factor;
      }

      .site-menu-button {
        height: $header-height-frontpage-x1;
      }

      &.site-menu-open {
        height: 100%;
      }
    }
    .site-header.headroom--top {
      border-top-width: 0;
    }
    .site-header.headroom--not-top {
      height: $header-height-frontpage-x1;
      &.site-menu-open {
        height: 100%;
      }
    }
  }
}

// body.mainpage .site-header
@include media-breakpoint-up(md) {
  body.mainpage .site-header {
    .site-logo-container {
      height: $header-height-frontpage-md;
      padding-left: $header-height-frontpage-md * $logo-filled-factor + 5px;
      transition: padding-left 0.6s;
    }
    .site-logo {
      position: absolute;
      top: 0;
      left: 0;

      height: $header-height-frontpage-md;
      width: $header-height-frontpage-md * $logo-filled-factor + 20px;

      background-color: $blue;
      transition: width 0.6s, height 0.6s;
    }
    .site-logo:before {
      transition: width 0.6s, height 0.6s;
    }
  }
  body.mainpage .site-header.headroom--top {
    .site-logo-container {
      padding-left: 125px;
    }
    .site-logo {
      height: 140px;
      width: 140px;
    }
    .site-logo:before {
      height: (140px - 40px);
      width: (140px - 40px) * $logo-filled-factor;
    }
  }
}

// body.mainpage .site-header
@include media-breakpoint-up(x1) {
  body.mainpage .site-header {
    .site-logo-container {
      height: $header-height-frontpage-x1;
      padding-left: $header-height-frontpage-x1 * $logo-filled-factor + 5px;
    }
    .site-logo {
      height: $header-height-frontpage-x1;
      width: $header-height-frontpage-x1 * $logo-filled-factor + 20px;
    }
  }
  body.mainpage .site-header.headroom--top {
    .site-logo-container {
      padding-left: 165px;
    }
    .site-logo {
      height: 180px;
      width: 180px;
    }
    .site-logo:before {
      height: (180px - 40px);
      width: (180px - 40px) * $logo-filled-factor;
    }
  }
}

// body .site-header-uno
@include media-breakpoint-up(xs) {
  body .site-header-uno {
    background-color: $red;
    &.headroom--not-top.headroom--unpin-top,
    &.headroom--unpinned.headroom--unpin-top {
      background-color: $red;
    }
    .site-menu-button {
      .site-menu-button-icon {
        span {
          background: white;
        }
      }
    }
    &:before {
     background: $red;
    }
  }
}
