<!DOCTYPE html>
<html lang="en" data-theme="jyunity">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link data-tile="./@@plone.app.standardtiles.headtitle"/>
  <link rel="icon"
        href="<%= webpackConfig.output.publicPath %>favicon.ico">
  <link data-tile="./@@plone.app.standardtiles.searchlink"/>
  <link data-tile="./@@plone.app.standardtiles.authorlink"/>
  <link data-tile="./@@plone.app.standardtiles.dublincore"/>
  <link data-tile="./@@plone.app.standardtiles.navigationlink"/>
  <link data-tile="./@@plone.app.standardtiles.rsslink"/>
  <link data-tile="./@@plone.app.standardtiles.socialtags"/>
  <link data-tile="./@@plone.app.standardtiles.canonical_url"/>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <% if (htmlWebpackPlugin.files.chunks[chunk].css[0]) { %>
  <link rel="stylesheet" data-name="bundle-<%= chunk %>"
        href="<%= htmlWebpackPlugin.files.chunks[chunk].css[0] %>"/>
  <% }} %>
</head>

<body class="department flex preload">

<div data-tile="./@@plone.app.standardtiles.toolbar"></div>

<header data-tile="./@@collective.themefragments.fragment?fragment=header"></header>

<div data-tile="./@@plone.app.standardtiles.viewletmanager?manager=plone.abovecontent"
     data-rules="/++sitelayout++jyunity/viewlets.xml"></div>

<nav class="container" data-panel="carousel">
  <div class="row no-gutters">
    <div class="col-12 no-gutters">
      <ul class="mosaic-tile"
          data-tile="./@@collective.themefragments.fragment/carousel?fragment=herocarousel">
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-9 col-xl-7 main">
      <aside id="global_statusmessage" data-slots="&gt; global_statusmessage">
        <div data-tile="./@@plone.app.standardtiles.global_statusmessage"></div>
      </aside>
      <article id="content" data-panel="content" data-slots="content body">
        <div data-slots="main">
          <div data-slots="content-core"></div>
        </div>
      </article>
    </div>

    <div class="col-md-12 flex-first col-lg-3 sidebar sidebar-left hidden-print">
      <div data-panel="leftcolumn-top"></div>
      <div data-tile="./@@plone.app.standardtiles.portletmanager?manager=plone.leftcolumn"
           data-rules="/++sitelayout++jyunity/sidebar.xml"
           data-slots="column_one_slot portlets_one_slot"></div>
      <div data-panel="leftcolumn-bottom"></div>
    </div>

    <div class="col-md-12 col-xl-2 sidebar sidebar-right hidden-print">
      <div data-panel="rightcolumn-top"></div>
      <div data-tile="./@@plone.app.standardtiles.portletmanager?manager=plone.rightcolumn"
           data-rules="/++sitelayout++jyunity/sidebar.xml"
           data-slots="column_two_slot portlets_two_slot"></div>
      <div data-panel="rightcolumn-bottom"></div>
    </div>

  </div>
</div>

<div class="container" data-panel="feedcarousel">
  <div class="row">
    <div class="col-12 no-gutters">
      <div class="mosaic-tile"
           data-tile="./@@collective.themefragments.fragment/feedcarousel?fragment=feedcarousel"></div>
    </div>
  </div>
</div>

<div class="container" data-panel="tintwall">
  <div class="row">
    <div class="col-12 no-gutters">
      <div class="mosaic-tile"
           data-tile="./@@collective.themefragments.fragment/tintwall?fragment=tintwall"></div>
    </div>
  </div>
</div>

<div class="container" data-panel="newspick">
  <div class="row">
    <div class="col-md-4">
      <div class="mosaic-tile"
           data-tile="./@@collective.themefragments.fragment/newspick-1?fragment=newspick"></div>
    </div>
    <div class="col-md-4">
      <div class="mosaic-tile"
           data-tile="./@@collective.themefragments.fragment/newspick-2?fragment=newspick"></div>
    </div>
    <div class="col-md-4">
      <div class="mosaic-tile"
           data-tile="./@@collective.themefragments.fragment/newspick-3?fragment=newspick"></div>
    </div>
  </div>
</div>

<footer data-tile="./@@plone.app.standardtiles.portletmanager?manager=plone.footerportlets"
        data-rules="/++sitelayout++jyunity/footer.xml"></footer>
<footer data-tile="./@@collective.themefragments.fragment?fragment=footer"></footer>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script data-name="bundle-<%= chunk %>"
        src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

</body>
</html>
